:root {
  --lightbox-padding: 20px;
  --occurrence-width: 500px;
  --occurrence-margin: 300px;
  --occurrence-padding: 30px;
  --descr-margin: 15px;
  --descr-offset: calc(-1 * (var(--occurrence-margin) - var(--descr-margin)));
  --descr-max-width: calc(var(--occurrence-margin) - (2 * var(--descr-margin)));
}


body {
  position: relative;
  background-color: #222;
  margin: 0;
  padding: 0;
}
.timeline {
  margin-left: 30px;
  border-left: white 2px solid;
}
.occurrence {
  position: relative;
  color: white;
  margin-left: var(--occurrence-margin);
  margin-bottom: calc(-3 * var(--occurrence-padding));
  padding-top: var(--occurrence-padding);
  width: var(--occurrence-width);
}

.occurrence::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(-1 * var(--occurrence-margin));
  height: 1px;
  width: var(--occurrence-margin);
  border-bottom: white 1px dashed;
}
.occurrence h2 {
  margin: 0;
  font-size: 2em;
  position: absolute;
  top: calc(50% - 1em - 2px);
  left: var(--descr-offset);
}
.occurrence .descr {
  position: absolute;
  top: calc(50% + 2px);
  left: var(--descr-offset);
  max-width: var(--descr-max-width);
  font-size: 1.2em;
}

/* START alternate 2n offset */
:root {
  --occurrence-2n-space: 40px;
  --occurrence-2n-margin: calc(var(--occurrence-margin) + var(--occurrence-width) + var(--occurrence-2n-space));
  --descr-2n-offset: calc(-1 * (var(--occurrence-2n-margin) - var(--descr-margin)));
  --descr-2n-max-width: calc(var(--occurrence-2n-margin) - (2 * var(--descr-margin)));
}
.occurrence:nth-child(2n) {
  margin-left: var(--occurrence-2n-margin);
}

.occurrence:nth-child(2n)::before {
  left: calc(-1 * var(--occurrence-2n-margin));
  width: var(--occurrence-2n-margin);
}
.occurrence:nth-child(2n) h2 {
  left: var(--descr-2n-offset);
}
.occurrence:nth-child(2n) .descr {
  left: var(--descr-2n-offset);
  max-width: var(--descr-max-width-2);
}
/* END alternate 2n offset */

.occurrence .img {
  position: relative;
  display: flex;
  border-radius: 16px;
}
.occurrence .img img {
  max-width: 100%;
  border-radius: 16px;
}

.occurrence .img::before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;

  /* https://css.glass/ */
  background: rgba(0, 0, 0, 0.30);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(50, 50, 50, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-duration: 0.3s;
}

.occurrence .img:hover::before {
  background: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  transition-duration: 0.4s;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: calc(100vw - var(--lightbox-padding) - var(--lightbox-padding));
  max-height: calc(100vh - var(--lightbox-padding) - var(--lightbox-padding));
  background-color: rgba(0, 0, 0, 0.8);
  padding: var(--lightbox-padding);
}

.lightbox.open {
  display: block;
}

.lightbox .container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: inherit;
  max-width: inherit;
  height: 100%;
  width: 100%;
}

.lightbox .container img {
  max-height: inherit;
  max-width: inherit;
  border: 1px solid #ccc;
}