:root {
  --color-sub-text: #999;
  --lightbox-padding: 20px;
  --header-margin: 20px;
  --timeline-margin: 30px;
  --occurrence-line-offset: 150px;
  --occurrence-dot: 8px;
  --occurrence-width: auto;
  --occurrence-margin-left: 30px;
  --occurrence-margin-bottom: 0;
  --occurrence-padding: 30px;
  --descr-margin: 15px;
  --descr-offset: calc(-1 * (var(--occurrence-margin-left) - var(--descr-margin)));
  --descr-max-width: calc(var(--occurrence-margin-left) - (2 * var(--descr-margin)));
}

@media only screen and (min-width: 600px) {
  :root {
    --occurrence-width: 500px;
  }
}

@media only screen and (min-width: 860px) {
  :root {
    --occurrence-margin-left: 300px;
    --occurrence-line-offset: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --header-margin: calc(15% + 20px);
    --timeline-margin: 15%;
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    --occurrence-margin-bottom: -90px;
  }
}

body {
  position: relative;
  background-color: #222;
  margin: 0;
  padding: 0;
  color: white;
}

/*
 * Note that simplelightbox uses the class hidden-scroll to do the same thing.
 * hide-scroll is for the gallery so as not to conflict
 */
body.hide-scroll {
  overflow: hidden;
}

header {
  padding-left: var(--header-margin);
  padding-bottom: 5px;
  border-bottom: white 2px solid;
}
header h1 {
  margin: 0.1em 0 0.2em;
}
header nav {
  display: flex;
  align-items: baseline;
  column-gap: 1em;
  overflow-x: auto;
  padding-bottom: 5px;
}
header nav .month {
  cursor: pointer;
}
header nav .year {
  font-size: 2em;
  font-weight: bold;
  color: var(--color-sub-text);
}
header nav .month {
  font-size: 1.5em;
}

footer {
  height: calc(-1 * var(--occurrence-margin-bottom) + 50px);
  margin: 0 var(--timeline-margin);
  border-left: white 2px solid;
}

.timeline {
  margin: 0 var(--timeline-margin);
  border-left: white 2px solid;
}
.occurrence {
  position: relative;
  margin-left: var(--occurrence-margin-left);
  padding-top: var(--occurrence-padding);
  width: var(--occurrence-width);
  margin-bottom: var(--occurrence-margin-bottom);
}

.occurrence::before,
.occurrence::after {
  content: '';
  position: absolute;
}

.occurrence::before {
  top: var(--occurrence-line-offset);
  left: calc(-1 * var(--occurrence-margin-left));
  height: 1px;
  width: var(--occurrence-margin-left);
  border-bottom: white 1px dashed;
}
.occurrence::after {
  top: calc(var(--occurrence-line-offset) - var(--occurrence-dot) + 1px);
  left: calc(-1 * var(--occurrence-margin-left) - var(--occurrence-dot));
  border: var(--occurrence-dot) solid white;
  border-radius: 50%;
}
.occurrence h2 {
  margin: 0;
  font-size: 2em;
  top: calc(50% - 1em - 2px);
  left: var(--descr-offset);
}
.occurrence .descr {
  top: calc(50% + 4px);
  left: var(--descr-offset);
  max-width: auto;
  font-size: 1.2em;
  color: var(--color-sub-text);
}
.occurrence .images {
  position: relative;
  margin: 10px 0;
}

.occurrence .images .multi {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  pointer-events: none;
}
.occurrence .images .multi-shadow {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

.occurrence .images .image img {
  max-width: 100%;
  border-radius: 16px;
}

.gallery-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: auto;
  padding: 20px;
  padding-right: 76px;
  background: #000;
}
.gallery-wrapper.shown {
  display: block;
}
.gallery-wrapper .close {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  height: 44px;
  width: 44px;
  border: 0 none;
  background: rgba(0,0,0,0);
  color: #fff;
  font-size: 3rem;
  font-family: Arial,Baskerville,monospace;
}
.gallery-wrapper .gallery {
  height: 100%;
}
.gallery-wrapper .gallery .image {
  display: flex;
  width: 450px;
  margin: 5px;
}
.gallery-wrapper .gallery .image img {
  max-width: 100%;
}

@media only screen and (min-width: 860px) {
  .occurrence h2,
  .occurrence .descr {
    position: absolute;
  }

  .occurrence .descr {
    max-width: var(--descr-max-width);
  }
}

/* DESKTOP */
@media only screen and (min-width: 1600px) {
  .occurrence .images {
    margin: 0;
  }

  /* START alternate 2n offset */
  :root {
    --occurrence-2n-space: 40px;
    --occurrence-2n-margin: calc(var(--occurrence-margin-left) + var(--occurrence-width) + var(--occurrence-2n-space));
    --descr-2n-offset: calc(-1 * (var(--occurrence-2n-margin) - var(--descr-margin)));
    --descr-2n-max-width: calc(var(--occurrence-2n-margin) - (2 * var(--descr-margin)));
  }
  .occurrence:nth-child(2n) {
    margin-left: var(--occurrence-2n-margin);
  }

  .occurrence:nth-child(2n)::before {
    left: calc(-1 * var(--occurrence-2n-margin));
    width: var(--occurrence-2n-margin);
  }
  .occurrence:nth-child(2n)::after {
    left: calc(-1 * var(--occurrence-2n-margin) - var(--occurrence-dot));
    border: var(--occurrence-dot) solid white;
    border-radius: 50%;
  }
  .occurrence:nth-child(2n) h2 {
    left: var(--descr-2n-offset);
  }
  .occurrence:nth-child(2n) .descr {
    left: var(--descr-2n-offset);
    max-width: var(--descr-2n-max-width);
  }
  /* END alternate 2n offset */
}